.section-padding{
    padding-left: 5%;
    padding-bottom: 5%;
}
span{
    color: orangered;
}
h1{
   font-size: 3em;
    border-left: solid blue;
}

   


.width{
    width: 100%;
    display: flex;
   

}
.width img{
    width: 60%;
    
}
.anchor-deco{
   background-color: skyblue;
    text-decoration: none;padding: 5px 10px;

}
.para-width{
    width: 50%;
}
#h2-align{
    text-align: center;
}
.div-padding-right{
    padding-right: 5%;
    
}
.div-padding-left{
    padding-left: 5%;
}


#move-center-apps-header{
    text-align: center;
}
#h2-non-align{
    text-align: no;
}
footer{
    text-align: center;
    background-color: black;
   color: blanchedalmond;
    
}
#footer-header{
    font-style: italic;
   
}
