.sec-padding{
    padding-left: 5%;
    padding-bottom: 5%;
}
span{
    color: orangered;
}
h1{
   font-size: 3em;
    border-left: solid blue;
}
.top-section{
   
}

.half-width{
    width: 50%;
    display: flex;
    text-align: justify;

}
.half-width img{
    width: 100%;
    
}
.anchor-deco{
   background-color: skyblue;
    text-decoration: none;padding: 5px 10px;

}
h2{
    padding-left: 15%;
}
.div-padding-right{
    padding-right: 5%;
}
.div-padding-left{
    padding-left: 5%;
}
