.section-padding{
    padding-left: 5%;
    padding-bottom: 5%;
}
span{
    color: orangered;
}
h1{
   font-size: 3em;
    border-left: solid blue;
}

   


.half-width{
    width: 100%;
    display: flex;
   

}
.half-width img{
    width: 80%;
    
}
.anchor-deco{
   background-color: skyblue;
    text-decoration: none;padding: 5px 10px;

}
h2{
    text-align: center;
}
.div-padding-right{
    padding-right: 5%;
}
.div-padding-left{
    padding-left: 5%;
}

#move-center-apps-header{
    text-align: center;
}
